<Resources>
	<string id="%1%" value="Материал пружины"/>
	<string id="%2%" value="Обозначение материала"/>
	<string id="%3%" value="Модуль упругости"/>
	<string id="%4%" value="пси"/>
	<string id="%5%" value="Коэффициент Пуассона"/>
	<string id="%6%" value="AISI 1074 Высокоуглеродистая сталь (ASTM A684, AMS 5120H)"/>
	<string id="%7%" value="AISI 301 Нержавеющая сталь (ASTM A666, AMS 5519)"/>
	<string id="%8%" value="Инконель X-750 (упрочняемый никель-хромовый сплав)"/>
	<string id="%9%" value="Фосфорная бронза"/>
	<string id="%10%" value="E"/>
	<string id="%11%" value="||m|"/>
	<string id="%12%" value="бр"/>
	<string id="%13%" value="Сталь 65 ГОСТ 14959-79"/>
	<string id="%14%" value="Сталь 70 ГОСТ 14959-79"/>
	<string id="%15%" value="Сталь 75 ГОСТ 14959-79"/>
	<string id="%16%" value="Сталь 80 ГОСТ 14959-79"/>
	<string id="%17%" value="Сталь 85 ГОСТ 14959-79"/>
	<string id="%18%" value="Сталь 60Г ГОСТ 14959-79"/>
	<string id="%19%" value="Сталь 65Г ГОСТ 14959-79"/>
	<string id="%20%" value="Сталь 70Г ГОСТ 14959-79"/>
	<string id="%21%" value="Сталь 55С2 ГОСТ 14959-79"/>
	<string id="%22%" value="Сталь 55С2А ГОСТ 14959-79"/>
	<string id="%23%" value="Сталь 60С2 ГОСТ 14959-79"/>
	<string id="%24%" value="Сталь 70С3А ГОСТ 14959-79"/>
	<string id="%25%" value="Сталь 60С2Г ГОСТ 14959-79"/>
	<string id="%26%" value="Сталь 50ХГ ГОСТ 14959-79"/>
	<string id="%27%" value="Сталь 50ХГА ГОСТ 14959-79"/>
	<string id="%28%" value="Сталь 55ХГР ГОСТ 14959-79"/>
	<string id="%29%" value="Сталь 60С2А ГОСТ 14959-79"/>
	<string id="%30%" value="Сталь 50ХФА ГОСТ 14959-79"/>
	<string id="%31%" value="Сталь 50ХГФА ГОСТ 14959-79"/>
	<string id="%32%" value="Сталь 55С2ГФ ГОСТ 14959-79"/>
	<string id="%33%" value="Сталь 60С2ХА ГОСТ 14959-79"/>
	<string id="%34%" value="Сталь 60С2ХФА ГОСТ 14959-79"/>
	<string id="%35%" value="Сталь 65С2ВА ГОСТ 14959-79"/>
	<string id="%36%" value="Сталь 60С2Н2А ГОСТ 14959-79"/>
</Resources>